<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=">
    <title>Event Scheduling</title>
    <link rel="stylesheet" href="/Header.css">
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <header class="Header">

        <div class="Header_Img">
            <img id="Hea_img" src="/myparticipants.png" alt="myparticipants">
        </div>

        <ol>
            <li><a class="ol_a" href="/Home">Home</a></li>
            <li><a class="ol_a" href="#Feature">Feature</a></li>
            <li><a class="ol_a" href="">Docs</a></li>
            <li><a class="ol_a" href="">About</a></li>
        </ol>

        <div class="login_but">
            <a id="login_a" href="/Admain">Admain</a>
        </div>
    </header>
    
    <main class="main">

        <div class="m_left">
            <h1>Event Scheduling</h1>
            <P>An Event Scheduling System is a software application designed to streamline the planning, organizing, and management of events. It provides an integrated platform for users to create, schedule, and track events efficiently, offering tools for automating various aspects of event management such as invitations, notifications, and resource allocation. The system is often used in corporate, educational, and social settings for organizing meetings, conferences, seminars, or any events requiring coordination between multiple participants.</P>
            <a href="/login">Login/SignUP</a>
        </div>
        <div class="m_right">
            <img src="/rightcolender-removebg-preview.png" alt="calender Image">
        </div>
    </main>

<!-- ------Feature     -->


    <div class="Feature" id="Feature">
        <h1>Feature</h1>
        <h1 style="text-align: left;  margin: 35px;">Key Features:</h1>
        <p>
         <strong>Event Creation and Customization:</strong>   Users can define event details such as date, time, location, and event type, along with other customizable parameters.<br>
         <strong>Participant Management:</strong> The system allows for easy addition, modification, and management of attendees. This may include sending invitations, tracking RSVPs, and handling guest lists.<br>
         <strong>Resource Scheduling:</strong> It helps allocate and schedule resources such as meeting rooms, equipment, and staff, ensuring there are no conflicts.<br>
         <strong>Notification and Reminder System:</strong>Automatic notifications and reminders can be sent to participants to inform them of upcoming events or any changes.<br>
         <strong>Calendar Integration:</strong>The system can integrate with users’ calendars (Google, Outlook, etc.) to provide a unified view of scheduled events.<br>
         <strong>Reporting and Analytics:</strong>The system can generate reports and provide analytics on attendance, event feedback, resource utilization, and more for post-event evaluation.<br>
        </p>
 
    </div>

    <footer>

    </footer>
</body>
</html>